:host {
  display: block;
}

table {
  min-width: 800px;
}

.mat-elevation-z8 {
  width: 800px;
}

.sw-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

a {
  color: var(--accent-color);
}
