<div class="sw-table">
  <div class="search-container">
    <mat-form-field>
      <mat-label>Search By Title</mat-label>
      <input
        matInput
        type="search"
        [formControl]="searchControl"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table
      aria-label="SW Films data table"
      *ngIf="requestedFilms$ | async as films"
      mat-table
      [dataSource]="films"
      matSort
      [matSortDisabled]="!!searchControl.value"
      [matSortActive]="(sortConfig$ | async)?.active ?? 'title'"
      [matSortDirection]="(sortConfig$ | async)?.direction ?? 'asc'"
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="title">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          sortActionDescription="Sort by title"
        >
          Title
        </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['film-details', element.id]">{{ element.title }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="episodeId">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          sortActionDescription="Sort by episode"
        >
          Episode №
        </th>
        <td mat-cell *matCellDef="let element">{{ element.episodeId }}</td>
      </ng-container>

      <ng-container matColumnDef="producer">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          sortActionDescription="Sort by producer"
        >
          Producer
        </th>
        <td mat-cell *matCellDef="let element">{{ element.producer }}</td>
      </ng-container>

      <ng-container matColumnDef="releaseDate">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          sortActionDescription="Sort by date"
        >
          Release date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.releaseDate.toLocaleDateString() }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      *ngIf="pageConfig$ | async as pageConfig"
      [pageIndex]="pageConfig.pageIndex"
      [pageSize]="pageConfig.pageSize"
      [pageSizeOptions]="[2, 3, 10]"
      [length]="(allFilms$ | async)?.length"
      aria-label="Select page"
      (page)="($event); onPaginateChange($event)"
    >
    </mat-paginator>
  </div>
</div>
