:host {
  display: block;
}

.film-details-card {
  position: relative;
  max-width: 40%;
  min-height: 70vh;
  margin: auto;
  margin-top: 100px;
  padding: 40px;
  font-size: var(--font-size);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.film-details-card h1 {
  font-size: var(--h1-font-size);
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-top: 5px;
}
