<mat-card *ngIf="filmData$ | async as filmData" class="film-details-card">
  <h1><b>Title:</b> {{ filmData.title }}</h1>
  <p><b>Release date:</b> {{ filmData.releaseDate.toLocaleDateString() }}</p>
  <p><b>Description:</b> {{ filmData.openingCrawl }}</p>
  <p><b>Producer:</b> {{ filmData.producer }}</p>
  <p><b>Director:</b> {{ filmData.director }}</p>
  <p><b>Episode №:</b> {{ filmData.episodeId }}</p>
  <!-- <p><b>The planets on which the action took place:</b> ${planetsNames}</p>
  <p><b>Characters featured in the film:</b> ${charactersNames}</p> -->
</mat-card>
