:root {
  --main-bg-color: rgb(232, 232, 232);
  --sort-select-font-color: rgb(46, 46, 46);
  --select-border-color: rgb(68, 68, 68);
  --card-background-color: rgb(255, 255, 255);
}

main {
  background-color: var(--main-bg-color);
}

mdl-layout__header-row {
  display: flex;
  justify-content: space-around;
}

.sort-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.sort-form__dropdown {
  position: relative;
}

.sort-form__dropdown:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: black transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  margin-top: 6px;
}

.sort-form__control {
  display: block;
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  background: none;
  border: 1px solid var(--select-border-color);
  border-radius: 3px;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  color: var(--sort-select-font-color);
  cursor: pointer;
}

.sort-form__control:focus {
  outline: unset;
}

.films-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.films-form__table td {
  cursor: pointer;
}

.films-form__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.details-card {
  min-height: 60%;
  width: 40%;
  margin: 100px auto;
  padding: 20px 20px 50px;
  background-color: var(--card-background-color);
  border-radius: 4px;
}

.delete-film-btn {
  float: right;
}

.title-searching-form {
  display: flex;
  justify-content: center;
}
