:root{
  --main-bg-color: rgb(232,232,232);
  --sort-select-font-color: rgb(46, 46, 46);
  --select-border-color: rgb(68, 68, 68);
}

main {
  background-color: var(--main-bg-color);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.dropdown {
  position: relative;
}

.dropdown:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: black transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: 6px;
}

.sorting-select {
  display: block;
  width: 100%; 
  padding: .75rem 2.5rem .75rem 1rem;
  background: none; 
  border: 1px solid var(--select-border-color); 
  border-radius: 3px;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  color:  var(--sort-select-font-color)
}

.sorting-select:focus {
  outline: none;
}

.films-table {
  margin: 30px auto 0;
}

.films-table td {
  cursor: pointer;
}