<h1 mat-dialog-title>Film Fields</h1>
<div class="mat-dialog-content">
  <form class="sw-film-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        autocomplete="off"
        value="selectedFilm.title"
        formControlName="title"
      />
      <mat-error *ngIf="form.hasError('required', 'title')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Director</mat-label>
      <input matInput autocomplete="off" formControlName="director" />
      <mat-error *ngIf="form.hasError('required', 'director')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Producer</mat-label>
      <input matInput autocomplete="off" formControlName="producer" />
      <mat-error *ngIf="form.hasError('required', 'producer')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Opening Crawl</mat-label>
      <input matInput autocomplete="off" formControlName="openingCrawl" />
      <mat-error *ngIf="form.hasError('required', 'openingCrawl')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="allCharacters$ | async as characters">
      <mat-label>Characters</mat-label>
      <mat-select formControlName="charactersIds" multiple>
        <mat-option *ngFor="let character of characters" [value]="character.id">
          {{ character.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required', 'charactersIds')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="allPlanets$ | async as planets">
      <mat-label>Planets</mat-label>
      <mat-select formControlName="planetsIds" multiple>
        <mat-option *ngFor="let planet of planets" [value]="planet.id"
          >{{ planet.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required', 'planetsIds')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Episode №</mat-label>
      <input
        type="number"
        matInput
        autocomplete="off"
        formControlName="episodeId"
      />
      <mat-error *ngIf="form.hasError('required', 'episodeId')">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Release date</mat-label>
      <input type="date" matInput formControlName="releaseDate" />
      <mat-error *ngIf="form.hasError('required', 'releaseDate')">
        Required
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="!form.valid"
    >
      Submit
    </button>

    <button mat-button mat-dialog-close>Cancel</button>
  </form>
</div>
