:host {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__controls {
  display: flex;
  align-items: center;
}

.navbar__add-icon {
  margin-right: 10px;
  cursor: pointer;
}
