<p>
  <mat-toolbar color="primary">
    <span>SW Films</span>
    <button
      *ngIf="authenticationService.isUserAuthorized$ | async; else elseCase"
      mat-flat-button
      (click)="authenticationService.logout()"
      color="accent"
    >
      Logout
    </button>
    <mat-icon
      aria-hidden="false"
      aria-label="Add New Film"
      (click)="openDialog()"
      >add</mat-icon
    >
  </mat-toolbar>
</p>

<ng-template #elseCase>
  <button
    mat-flat-button
    (click)="authenticationService.login()"
    color="accent"
  >
    Login
  </button>
</ng-template>
