<mat-toolbar class="navbar" color="primary">
  <span>SW Films</span>
  <div class="navbar__controls">
    <mat-icon
      class="navbar__add-icon"
      aria-hidden="false"
      aria-label="Add New Film"
      (click)="openDialog()"
      >add</mat-icon
    >
    <button
      *ngIf="authenticationService.isUserAuthorized$ | async; else elseCase"
      mat-flat-button
      (click)="authenticationService.logout()"
      color="accent"
    >
      Logout
    </button>
  </div>
</mat-toolbar>

<ng-template #elseCase>
  <button
    mat-flat-button
    (click)="authenticationService.login()"
    color="accent"
  >
    Login
  </button>
</ng-template>
